
@font-face {
  font-family: 'NBInternationalMonoWebfont';
  src: url('NBInternationalMonoWebfont.eot?#iefix') format('embedded-opentype'),  url('NBInternationalMonoWebfont.woff') format('woff'), url('NBInternationalMonoWebfont.ttf')  format('truetype'), url('NBInternationalMonoWebfont.svg#NBInternationalMonoWebfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
