/************** CSS RESET *****************/

* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  blockquote, body, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, ol, p, pre, ul {
    margin: 0;
    padding: 0;
  }
  
  ol, ul {
    list-style: none;
  }


/************** ROOT *****************/


@font-face {
    font-family: "NB-International-Pro-Light";
    src: url('type/NB-International-Pro-Light/NB-International-Pro-Light.eot?#iefix') format('embedded-opentype'),  url('type/NB-International-Pro-Light/NB-International-Pro-Light.woff') format('woff'), url('type/NB-International-Pro-Light/NB-International-Pro-Light.ttf')  format('truetype'), url('type/NB-International-Pro-Light/NB-International-Pro-Light.svg#NB-International-Pro-Light') format('svg');
    font-weight: lighter;
    font-style: normal;
  }


@font-face {
    font-family: "NB-International-Pro-Regular";
    src: url('type/NB-International-Pro-Regular/NB-International-Pro-Regular.eot?#iefix') format('embedded-opentype'),  url('type/NB-International-Pro-Regular/NB-International-Pro-Regular.woff') format('woff'), url('type/NB-International-Pro-Regular/NB-International-Pro-Regular.ttf')  format('truetype'), url('type/NB-International-Pro-Regular/NB-International-Pro-Regular.svg#NB-International-Pro-Regular') format('svg');
    font-style: normal;
  }

@font-face {
    font-family: 'NB-International-Pro-Mono';
    src: url('type/NB-International-Pro-Mono/NB-International-Pro-Mono.eot?#iefix') format('embedded-opentype'),  url('type/NB-International-Pro-Mono/NB-International-Pro-Mono.woff') format('woff'), url('type/NB-International-Pro-Mono/NB-International-Pro-Mono.ttf')  format('truetype'), url('type/NB-International-Pro-Mono/NB-International-Pro-Mono.svg#NB-International-Pro-Mono') format('svg');
    font-weight: lighter;
    font-style: normal;
  }


:root {
    --base-font-family: "NB-International-Pro-Light", sans-serif;
    --mono-font-family: "NB-International-Pro-Mono", monospace;
    --background-color: #16161d;
    --base-text-color: #e5e5e5;
    --sec-text-color: #aaa;
    --text-large: 4.8vw;
    --base-max-width: 90vw;
}

/************** LAYOUT & TYPOGRAPHY *****************/

body{
    background-color: var(--background-color);
    color: var(--base-text-color);
    font-family: var(--base-font-family);
    overflow: hidden;
}

h1{    
    font-size: var(--text-large);
    font-weight: lighter;
}

a{
    text-decoration: none;
    color: var(--sec-text-color);
    padding-bottom: 4px;
    border-bottom: 1px dotted #666; 
}

a:hover{
    color:#fff;
    transition: .8s;
}

a:focus {
    color: var(--background-color);
    background-color: var(--base-text-color);
    font-weight: bolder;
    padding: 8px;
  ;
}

/************** CLASSES *****************/

.root{
    min-height: 100vh;
    position: relative;
    max-width: var(--base-max-width);
    margin: auto;
    
}

.top{
    height: 65vh;
    width: 100%;
    position: relative;
    opacity: 0;
    animation: appearFromBottom 2s ease-out .5s 1 forwards;
}

.top-main{
    position: absolute;
    top: 60%;
    width: 100%;
}

.top-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-text{
    display: inline;
}

.top-arrow{
    font-family: var(--base-font-family);
    font-weight: lighter;
    font-size: var(--text-large);
}

.bottom{
    height: 35vh;
    opacity: 0;
    animation: appearFromBottom 2s ease-out 1.5s forwards;

}

.name{
    padding-top: 30px;
    font-family: "NB-International-Pro-Regular";
    font-size: 1.8rem;
}

.location{
    font-family: var(--mono-font-family);   
    font-weight: lighter;
    opacity: 50%;
    font-size: .9rem;
    padding-top: 4px;
}

.bottom-arrow{
    font-size: 1.2rem;
}

.main-nav{
    font-family: var(--mono-font-family);
    font-size: .8rem;
    padding-top: 8vh;
    display: flex;
    flex-wrap: wrap;
}

.main-nav li{
    display: inline;
    padding: 10px 30px 10px 0;
}

.inner-sanic {
    position: absolute;
    bottom: -8px;
    left: -500px;
}

#sanic{
    height: 100px;
    width: 100px;
}




/************** INTERACTIONS *****************/

::selection {
    background: #ffffff;
    color: var(--background-color);
}

#notion-link{
    cursor: url("https://raw.githubusercontent.com/olzn/abstract-systems/b3178e9fd2e9b05dd862d333df8566469a239a64/img/cursor/white/notion-white.svg"), auto;
}

#github-link{
    cursor: url("https://raw.githubusercontent.com/olzn/abstract-systems/b3178e9fd2e9b05dd862d333df8566469a239a64/img/cursor/white/github-white.svg"), auto;
}

#linkedin-link{
    cursor: url("https://raw.githubusercontent.com/olzn/abstract-systems/b3178e9fd2e9b05dd862d333df8566469a239a64/img/cursor/white/linkedin-white.svg"), auto;
}

#dribbble-link{
    cursor: url("https://raw.githubusercontent.com/olzn/abstract-systems/b3178e9fd2e9b05dd862d333df8566469a239a64/img/cursor/white/dribbble-white.svg"), auto;
}

#twitter-link{
    cursor: url("https://raw.githubusercontent.com/olzn/abstract-systems/b3178e9fd2e9b05dd862d333df8566469a239a64/img/cursor/white/twitter-white.svg"), auto;
}

#email-link{
    cursor: url("https://raw.githubusercontent.com/olzn/abstract-systems/b3178e9fd2e9b05dd862d333df8566469a239a64/img/cursor/white/email-white.svg"), auto;
}

/* #notion-link{
    cursor: url("https://raw.githubusercontent.com/olzn/abstract-systems/master/img/cursor/colour/notion-cursor.png"), auto;
}

#github-link{
    cursor: url("https://raw.githubusercontent.com/olzn/abstract-systems/master/img/cursor/colour/github-cursor.png"), auto;
}

#linkedin-link{
    cursor: url("https://raw.githubusercontent.com/olzn/abstract-systems/master/img/cursor/colour/linkedin-cursor.png"), auto;
}

#dribbble-link{
    cursor: url("https://raw.githubusercontent.com/olzn/abstract-systems/master/img/cursor/colour/dribbble-cursor.png"), auto;
}

#twitter-link{
    cursor: url("https://raw.githubusercontent.com/olzn/abstract-systems/master/img/cursor/colour/twitter-cursor.png"), auto;
}

#email-link{
    cursor: url("https://raw.githubusercontent.com/olzn/abstract-systems/master/img/cursor/colour/email-cursor.png"), auto;
} */



/************** MEDIA QUERY & BREAKPOINTS *****************/

@media only screen and (max-width: 680px) {

    .main-nav{
        justify-content: space-around;
        padding-top: 4.5vh;
        /* padding-bottom: 6vh; */
    }

    .main-nav li{
        display: block;
        margin: 10px 0;
    }

    .name{
        padding-top: 5px;
        font-size: 1.2rem;
        text-align: center;
    }

    .location{
        text-align: center;
    }
}

@media only screen and (max-width: 420px) {

    .top-main{
        top: 16%;
    }

    .top-flex{
        flex-direction: column;
    }

    .top-text{
        padding: .8rem 0;
        display: block;
    }

    .top-text h1{
        display: block;
        font-size: 8vw;
    }

    .top-arrow{
        transform: rotate(90deg);
        font-size: 8vw;
    }

}

@keyframes appearFromBottom {

    from{
      transform: translateY(10%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;

    }
  }


