
@font-face {
  font-family: 'NBInternationalRegularWebfont';
  src: url('NBInternationalRegularWebfont.eot?#iefix') format('embedded-opentype'),  url('NBInternationalRegularWebfont.woff') format('woff'), url('NBInternationalRegularWebfont.ttf')  format('truetype'), url('NBInternationalRegularWebfont.svg#NBInternationalRegularWebfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
