
@font-face {
  font-family: 'NBInternationalLightWebfont';
  src: url('NBInternationalLightWebfont.eot?#iefix') format('embedded-opentype'),  url('NBInternationalLightWebfont.woff') format('woff'), url('NBInternationalLightWebfont.ttf')  format('truetype'), url('NBInternationalLightWebfont.svg#NBInternationalLightWebfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
