
@font-face {
  font-family: 'NBInternationalBoldWebfont';
  src: url('NBInternationalBoldWebfont.eot?#iefix') format('embedded-opentype'),  url('NBInternationalBoldWebfont.woff') format('woff'), url('NBInternationalBoldWebfont.ttf')  format('truetype'), url('NBInternationalBoldWebfont.svg#NBInternationalBoldWebfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
